Repository neomake/neomake, pull requests merged in 2018-07, with the labels that each got.

#1994 python: filter FutureWarnings
  autoload/neomake/makers/ft/python.vim
  tests/ft_python.vader
Labels: bug, maker

#2010 add vale linting (process_json)
  autoload/neomake/compat.vim
  autoload/neomake/makers/ft/markdown.vim
  tests/compat.vader
  tests/ft_markdown.vader
  tests/main.vader
  tests/makers.vader
Labels: maker

#2018 add flog to ruby
  autoload/neomake/makers/ft/ruby.vim
Labels: maker

#2017 add yamllint to ansible
  autoload/neomake/makers/ft/ansible.vim
Labels: maker

#2014 add ktlint maker
  autoload/neomake/makers/ft/kotlin.vim
Labels: maker

#2015 add r lint
  autoload/neomake/makers/ft/r.vim
Labels: maker

#2016 add haxe lint
  autoload/neomake/makers/ft/haxe.vim
Labels: maker

#2024 Decrement s:ignore_automake_events always
  autoload/neomake.vim
  tests/isolated.vader
  tests/isolated/resets-ignore_automake_events.vader
Labels: bug
