Repository neomake/neomake, pull requests merged in 2018-02, with the labels that each got.

#1851 javascript/jsx: prefer eslint_d over eslint
  autoload/neomake/makers/ft/javascript.vim
  autoload/neomake/makers/ft/jsx.vim
  tests/filetypes.vader
Labels: enhancement, maker

#1855 Add additional errorrformat for gometalinter
  autoload/neomake/makers/ft/go.vim
  tests/ft_go.vader
Labels: bug, maker

#1848 Add process_json output handler
  autoload/neomake.vim
  autoload/neomake/compat.vim
  autoload/neomake/debug.vim
  doc/neomake.txt
  tests/compat.vader
  tests/debug.vader
  tests/main.vader
  tests/makers.vader
Labels: enhancement
